

body {
    background-image: url('mapa.jpg');
    background-size: cover;
    background-position: center;
    margin: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

h1, p {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; 
}

.skins {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skin {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    width: calc(25% - 20px);
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skin img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skin p {
    margin: 10px 0;
}

.skin:hover img {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content {
    text-align: center;
}

.popup input[type="text"],
.popup input[type="number"] {
    width: calc(100% - 40px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup input[type="submit"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    background-color: #4CAF50;
    border: none; 
    color: white;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; /
    transition-duration: 0.4s; 
}


button:hover {
    background-color: #45a049;
    color: white;
}
.close {
    color: #aaaaaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: #000; 
    text-decoration: none; 
    cursor: pointer; 
}
